# Repo
.git/

# Ctags
tags

# Docker
Dockerfile
docker-compose*.yml

# CI/CD
.cache/
coverage/
spec/
features/
.gitlab-ci.yml
.overcommit.yml
.rubocop*.yml
rspec.xml

# Application
backup/
vendor/
.env
