# Ignore bundler config.
.bundle/
vendor/bundle/

# Application
data/**/*.csv
data/**/*.sql
config/database.yml

# Ignore all logfiles and tempfiles.
/tmp/*
/log/*
/bin/pids/
!/log/.gitkeep
!/tmp/.keep
*.orig
.DS_Store
tags

# Tests
/coverage/
/spec/tmp

# Dotenv
.env
.env*
!.env.example

# Licensed
.licenses
